.list-group-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    margin-right: 1rem;
    position: relative;
}

.task-checkbox:checked::after {
    content: "✓";
    position: absolute;
    font-size: 3rem;
    color: #ac25fb;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.task-text {
    font-size: 1.3rem;
    min-width: 250px;
    margin-right: 1rem;
}

@media (max-width:670px) {
    .task-text {
        min-width: 200px;
    }

    .status {
        display: none;
    }
}