.main-btn {
    border: none;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: #fff;
    background-image: linear-gradient(45deg, #fa0c4f, #ac25fb);
    border-radius: 0.5rem;
    transition: all 0.225s ease-in-out;
    min-width: 200px;
}

.main-btn:hover {
    box-shadow: 0 5px 15px grey;
}

@media (max-width:768px) {
    .main-btn {
        padding: 0.5rem 1rem;
        min-width: 150px;
        font-size: 1.1rem;
    }
}

@media (max-width:480px) {
    .main-btn {
        padding: 0.5rem 0.75rem;
        min-width: 100px;
        font-size: 1.1rem;
    }
}