:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.new-task-input {
    width: 100%;
    margin-right: 1rem;
    font-size: 1.3rem;
    padding: 1rem;
}

@media (max-width:768px) {
    .input-container {
        flex-direction: column;
    }

    .new-task-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}